body {
height:auto;
margin: 0;
font-family: "Roboto", Arial, sans-serif;
font-size:16px;
font-weight:500;
color:#ffffff;
background-color:#849d8f;

}
a{
text-decoration: none;
}

.container, /*этот контейнер подходит для задания ширины страницы? (хедер в него не входит)*/
.catalog-page, /*cтраница не подстроилась потому что задана ширина кап*/
.inner-page { /*cтраница с каталогом по макету попадает вся в контейнер? здесь у все равно выпадает футер*/
width: 1146px;
} 

.catalog-page {
 border: 2px solid red; /*для наглядности, потом убрать*/
}

.inner-page {
 border: 2px solid black; /*для наглядности, потом убрать*/
}

.main-navigation {
display:flex;
flex-wrap:wrap;
font-weight:700;
font-size:16px;
line-height:18px;
color:#ffffff;
justify-content:space-around;

}
.site-navigation{
display:inline-flex;
flex-direction: row;
justify-content: flex-start;

}
.user-navigation {
display: inline-flex;
flex-direction: row;
justify-content: flex-end;

}

.site-navigation a,
.user-navigation a {
list-style: none;
color:#ffffff;
}

.breadcrumbs {
display: flex;
flex-direction: row;
width: 250px;
justify-content: space-around;
}

.site-navigation a:focus,
.user-navigation a:focus,
.breadcrumbs a:focus,
.site-navigation a:hover,
.user-navigation a:hover,
.breadcrumbs a:hover {
color:#f6b8af;
}

.advantages {
background-image: url(../img/waffles-background.svg);
font-weight:400;
font-size:16px;
line-height:22px;
color:#323232;
background-color:#ffffff;
border-radius:14px;
}

.advantages .specification-shop {
font-size:24px;
line-height:30px;
}

.excellence {
display: flex;
flex-direction: row;
}

.excellence-lead {
display: flex;
flex-direction: column;
}

.blog-newsletter {
width:auto;
border: 1px solid red; /*для наглядности, потом убрать*/
display: flex;
justify-content: space-between;
}
.blog{
/*width:560px;*/
background-image: url(../img/strawberry-background.jpg);
background-color:#ffffff;
font-size:16px;
line-height:22px;
border-radius:14px;
/*padding-left: 20px;
padding-top: 10px;*/
border: 1px solid green; /*для наглядности, потом убрать*/
}
.blog a{
color:#323232;
background-color:#ffffff;
font-size:24px;
line-height:30px;
text-decoration: underline;

}
.newsletter {
/*width:560px;*/
border-image: url(../img/bg-post.svg)5 round round; /*рамка только с одной стороны видна*/
background-color:#f8f7f4;
font-size:16px;
line-height:22px;
color: #5a5a5a;
border-radius:14px;
border-bottom:5px solid red;
}
.newsletter > .newsletter-p, .mail-form  {
padding-left: 20px;
padding-top: 10px;
}
.store-address {
width:25%; /*исправить*/
font-weight:700;
font-size:18px;
line-height:24px;
color:#323232;
background-color:#fefefe;
border-radius: 8px;
}
.store-address .contact-description{
font-weight:400;
font-size:14px;
line-height:20px;
}
.store-address a {
margin-left: 50px;
color:#fefefe;
background-color:#ef5f3f;
border-radius: 20px;
}
.main-footer {
display:flex;
justify-content: space-between;
font-size:13px;
line-height:18px;
color: #e6ebe9;
background-color:#849d8f;
display:flex;
width: 1200px;
}
.footer-social {
display:flex;
align-items:center;
}
.footer-info {
display:flex;
flex-direction:row;
}
.flex-conteiner-footer-info {
display:flex;
flex-direction: column;
}
.footer-social a,
.footer-info a,
.footer-copyright a{
color: #e6ebe9;
background-color:#849d8f;
}
.footer-info li:nth-child(1){
font-weight:700;
}
.footer-social a:hover{
color: #323232;
background-color:#9db1a5;
}
.footer-copyright {
display:flex;
flex-direction: column-reverse;
align-items:center;
}

.footer-info a:focus,
.footer-copyright a:focus,
.footer-info a:hover,
.footer-copyright a:hover {
color: #f6b8af;
background-color:#849d8f;
}
.htmlacademy-button{
padding: 10px;
color:#fefefe;
background-color:#eb563b;
border-radius: 20px;
}
.htmlacademy-button:hover {
background-color:#f07962;
border-radius: 20px;
}
/*.button { это не нужно в принципе?
font:inherit;
text-align:center;
vertical-align:middle;
color:#fefefe;
border-radius: 20px;
}*/
.item-cards-row {
display: flex;
justify-content: row;
}
.icecream-card {
width: 267px; /*если я прописываю это ширину, это нормально? 267*4=948 =потом будут отступы*/
border: 3px solid blue;
position: relative;
text-align: center;
}
.card-price {
/*position: absolute; убрать, настраиваем с пом сеток*/
bottom: 45px;
left: 0px;
font-size:45px;
font-weight: bold;
}

.basket-form,
.search-form,
.login-form {
  display: none;
}